/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at
 * the bottom of the compiled file so the styles you add here take precedence
 * over styles defined in any styles defined in the other CSS/SCSS files in this
 * directory. It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

$white: #ffffff;
$half-trans-black: rgba(0, 0, 0, 0.5);
$red: #ff0000;

#header {
  margin-top: 10px;
}

.field_with_errors {
  @extend .has-error;
}

.card_image p {
  margin-bottom: 0px;
}

.card_remove_image {
  margin-left: 20px;
}

.block_user_current_block_id {
  margin-left: 20px;
}

.flickr-container {
  background: $half-trans-black;
  border-radius: 20px;
  color: $white;
  display: none;
  left: 40%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 20%;
  span {
    color: $red;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 11px;
    top: 8px;
  }
  .flickr {
    color: $white;
    width: 240px;
    .flickr-img:hover {
      opacity: 0.5;
    }
  }
}
